* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}
.title_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Filter */
.row-filter {
	width: 100%;
	display: flex;
	margin-bottom: 50px;
}
.input-box {
	width: 25% !important;
	font-size: 0.8rem;
	display: flex;
	align-items: center;
}
.input-box input {
	margin-right: 5px;
}
.input-box[type='radio'] > label {
	font-size: 0.8rem;
	width: 100%;
}
.select-container-departement {
	width: 50% !important;
}

/* Card */
ul#group_filter {
	display: flex;
	flex-direction: column;
	padding: 0;
	min-height: 160px;
	margin-bottom: 10px;
}
ul#group_filter .row-filter {
	width: 100%;
}
#group_filter li.card {
	max-height: 100%;
	margin-bottom: 20px;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
}
#group_filter a {
	color: black !important;
	display: flex;
	overflow: hidden;
	width: 100%;
	max-height: 400px;
}
.img-container {
	width: 50%;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}
img {
	display: block;
	max-width: 90%;
	height: 80%;
	/* text-align: center; */
	object-fit: cover;
	outline: none !important;
	border: none !important;
}
.left-part-list {
	padding-left: 25px;
}
.card-body .regions {
	/* text-align: left; */
	font-weight: bolder;
	text-transform: uppercase;
	color: #383939;
	padding-bottom: 10px;
	position: relative;
}
.card-body .regions::after {
	position: absolute;
	content: ' ';
	height: 10px;
	width: 100%;
	color: red;
	top: 0;
	left: 0;
	transform: translate(50%, 50%);
}
.card-body .actu-date {
	color: rgba(255, 254, 254, 0.913);
	background: #383939;
	text-align: center;
	float: left;
	height: 50px;
	width: 50px;
	padding-top: 1px;
	margin: 0 10px 10px 0;
	border-radius: 50% 50%;
	font-weight: bolder;
	font-size: 12px;
	line-height: 15px;
}
.card-body .actu-title h3 {
	float: left;
	height: 50px;
	max-width: 110px;
	font-size: 12px;
	text-align: left;
	font-weight: bolder;
	color: #383939;
}
.card-body .card-text {
	color: #383939;
	clear: both;
	text-transform: none;
	padding-top: 10px;
	text-align: left;
	font-size: 12px;
}

/* Responsiv */
@media screen and (max-width: 768px) {
	#group_filter > .row {
		display: flex;
		flex-direction: column;
		align-content: center;
		padding: 5px;
	}
	li.card {
		width: 100%;
		min-height: 200px;
	}
	.card a {
		height: 100%;
	}
	.card-body {
		height: 100%;
	}
	.regions {
		text-align: left;
	}
}
@media screen and (max-width: 600px) {
	.select-container-departement {
		padding-left: 5px;
		text-align: center;
	}
	li.card {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.img-container {
		width: 100%;
		height: 200px;
	}
	.card-body {
		width: 80%;
	}
}
