/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}
/* global tags */
html {
	scroll-behavior: smooth !important;
}
a {
	text-decoration: none !important;
	color: white !important;
}

/* Control Style  */
#border-CS {
	border: solid red;
}

/* HEADER*/
header {
	background-image: url(/assets/media/bg-header.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	filter: opacity(0.8);
	text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.898);
}
.welcome-box {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh !important;
}
.welcome-title h1 {
	color: white;
	font-size: 3.75rem;
	font-weight: lighter;
}
/* MAIN */
/* Section Presentation */
.presentation-container {
	width: 100%;
}
/* Section Us */
#us {
	background-image: url('../media/bg-us.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	filter: opacity(0.8);
}
.us .title h2 {
	color: rgba(0, 0, 0, 0.784);
	font-size: 2.8rem;
}

/* us icons  */
.us-content {
	display: flex !important;
	flex-direction: column;
	justify-content: space-around !important;
	align-items: center !important;
	min-height: 400px;
	color: white;
}
.us-content p {
	color: rgba(0, 0, 0, 0.784);
	font-weight: 600;
	text-shadow: 2px 2px 1px rgba(255, 254, 254, 0.675);
}
.figure-content {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-width: 80%;
	flex-wrap: wrap;
	gap: 10px;
	transition: 0.5s;
}
.figure-content figure {
	padding: 10px;
}
.figure-content i {
	font-size: 3rem !important;
	padding: 15px;
	transition: 0.5s;
	cursor: pointer;
}
.figure-content a {
	transition: 0.5s;
}
.figure-content figure:hover,
.figure-content i:hover {
	color: rgba(0, 0, 0, 0.784) !important;
	box-shadow: 4px 4px 2px rgba(246, 242, 242, 0.898);
	text-shadow: -4px 4px 2px rgba(246, 242, 242, 0.898);
	font-weight: 600;
	border-radius: 10px;
}
.figure-content i:hover {
	box-shadow: -4px 4px 2px rgba(246, 242, 242, 0.898);
}
.figure-content figcaption a:hover {
	color: rgba(0, 0, 0, 0.784) !important;
}
.figure-content h3 {
	font-size: 2rem;
	font-weight: lighter;
}

/* Footer */
#footer {
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	text-align: center;
}
.social h2 {
	font-size: 2.4rem;
	color: white;
	margin-bottom: 20px;
}
.social i {
	font-size: 1.8rem;
	color: white;
}
.social i:hover {
	border: white solid 1px;
	border-radius: 50%;
	padding: 8px;
	box-shadow: 2px 2px 2px 0px #fff, inset 2px 2px 8px 0px #fff, 5px 4px 7px 3px rgba(255, 255, 255, 0.33);
}
.conceptor {
	height: 100px !important;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
}

.conceptor h3 {
	font-size: large;
	font-weight: lighter;
	cursor: pointer;
}

/* Spécial éléments*/
.btn-special {
	background: #ffffff00;
	color: white !important;
	font-size: 2.2rem;
	border: white solid 1px !important;
	min-width: 280px !important;
	transition: 0.5s;
}
.btn-special:hover {
	color: black !important;
	text-shadow: 4px 4px 2px rgba(246, 242, 242, 0.898);
	box-shadow: 4px 4px 2px rgba(246, 242, 242, 0.898);
	border: rgba(80, 80, 80, 0.847) solid 2px !important;
	background-color: rgba(0, 0, 0, 0.51);
	font-size: 2.3rem;
	min-width: 350px;
}
.btn-special:focus {
	outline: none;
}
.separateur {
	max-width: 250px;
	border: solid rgb(206, 204, 204) 0.5px;
}
.separateur-center {
	margin: auto;
}
.bg-black {
	background: black !important;
}
